Datasets/studentsperformance.csv
Datasets/weatherHistory.csv
movies.csv
TSLA STOCK ANALYSIS.csv
TSLA STOCK ANALYSIS- header=False.csv
TSLA STOCK ANALYSIS - index=False.csv
TSLA STOCK ANALYSIS-compressed.csv.zip
TSLA STOCK ANALYSIS-separator.csv
TSLA STOCK ANALYSIS-columns.csv
fifa_players_db.xlsx
~$Players-Club-Info Merge.xlsx
Players-Club-Info Merge.xlsx
~$fifa_players_db.xlsx
fifa player and matches.xlsx
~$fifa player and matches.xlsx
Excercise/movies_data.csv
Excercise/final_movies_data.csv
weatherHistory.csv
Final_data.csv
fruits_data.csv
food_db.csv
weather_by_cities.csv
cities_weather_data.csv
group_by_final_ex.png
split-apply-combine.webp
group_by.png
studentsperformance.csv
movies_data.csv
merging_concat_basic.png
pandas_joins.jpg
sql_joins.webp
.gitignore
