Datasets/studentsperformance.csv
Datasets/weatherHistory.csv
movies.csv
TSLA STOCK ANALYSIS.csv
TSLA STOCK ANALYSIS- header=False.csv
TSLA STOCK ANALYSIS - index=False.csv
TSLA STOCK ANALYSIS-compressed.csv.zip
TSLA STOCK ANALYSIS-separator.csv
TSLA STOCK ANALYSIS-columns.csv
fifa_players_db.xlsx
~$Players-Club-Info Merge.xlsx
Players-Club-Info Merge.xlsx
~$fifa_players_db.xlsx
fifa player and matches.xlsx
~$fifa player and matches.xlsx
Excercise/
.gitignore
